@import url("button/button.css");
@import url("login/login.css");
@import url("sidebar/sidebar.css");
@import url("general/general.css");
@import url("product/product.css");
@import url("basket/basket.css");
@import url("profile/profile.css");

body {
    background-color: #252A34;
    width: 1920px;
    height: 1080px;
}

.page_content {
    width: 100%;
    height: 100%;
}