{% extends 'base.html.twig' %}
{% block body %}
<script>

    function validateEmail(email)
    {
        var re = /^[\w-\.]+@[\w-]+\.[a-z]{2,4}$/i;
        var valid = re.test(email);
        return valid;
    }

    function validateTelephone(telephone)
    {
        var re = /^[\d\+][\d\(\)\-]{4,14}\d$/;
        var valid = re.test(telephone);
        return valid;
        
    }
    function register(url, registerUrl) {

        const validate = true;

        const firstName = document.getElementById('login-first_name-value');
        const lastName = document.getElementById('login-last_name-value');
        const patronymic = document.getElementById('login-patronymic-value');
        const birthday = document.getElementById('login-birthday-value');
        const telephone = document.getElementById('login-telephone-value');
        const email = document.getElementById('login-email-value');
        const password = document.getElementById('login-password-value');

        if(firstName.value == '')
        {
            firstName.classList.add("red-border");
            validate = false;
        }
        else
        {
            firstName.classList.remove("red-border");
        }

        if(lastName.value == '')
        {
            lastName.classList.add("red-border");
            validate = false;
        }
        else
        {
            lastName.classList.remove("red-border");
        }

        if(telephone.value == '' || !validateTelephone(telephone.value))
        {
            telephone.classList.add("red-border");
            validate = false;
        }
        else
        {
            telephone.classList.remove("red-border");
        }

        if(email.value == '' || !validateEmail(email.value))
        {
            email.classList.add("red-border");
            validate = false;
        }
        else
        {
            email.classList.remove("red-border");
        }

        if(password.value == '')
        {
            password.classList.add("red-border");
            validate = false;
        }
        else
        {
            password.classList.remove("red-border");
        }
        
        if(!validate) return;

        const data = JSON.stringify({
            email: document.getElementById('login-email-value').value,
            password: document.getElementById('login-password-value').value,
            first_name: document.getElementById('login-first_name-value').value,
            last_name: document.getElementById('login-last_name-value').value,
            birthday: document.getElementById('login-birthday-value').value,
            patronymic: document.getElementById('login-patronymic-value').value,
            photo: document.getElementById('login-photo-value').value,
            telephone: document.getElementById('login-telephone-value').value,
        });
    

        var formData = new FormData();
        formData.append("photo", document.getElementById("login-photo-value").files[0]);
        formData.append("jsonData", data);

        var xhr = new XMLHttpRequest();

        xhr.onload = () => {
            if (xhr.readyState === 4 && xhr.status === 200) {
                location.href = url;
            } else {
                alert(xhr.response);
            }
        };
        xhr.open("POST", registerUrl);
        xhr.send(formData);
        
    }
    function redirectToUrl(url) {
        location.href = url;
    }
</script>
    <div class="login_content">
        <form action="" method="post" class="login-form">
            <div>
                <input id="login-first_name-value" class="login-input" placeholder="First Name" type="text" name="first_name" required />
            </div>
            <div>
                <input id="login-last_name-value" class="login-input" placeholder="Last Name" type="text" name="last_name" required />
            </div>
            <div>
                <input id="login-birthday-value" class="login-input" placeholder="birthday" type="date" name="birthday" required />
            </div>
            <div>
                <input id="login-patronymic-value" class="login-input" placeholder="patronymic" type="text" name="patronymic" />
            </div>
            <div>
                <input id="login-email-value" class="login-input" placeholder="Email" type="email" name="email" required />
            </div>
            <div>
                <input id="login-password-value" class="login-input" placeholder="Password" type="password" name="password" required />
            </div>
            <div>
                <input id="login-photo-value" class="login-input" placeholder="photo" type="file" name="photo" />
            </div>
            <div>
                <input id="login-telephone-value" class="login-input" placeholder="telephone" type="text" name="telephone" required />
            </div>
            <div>
                <input class="login-submit" type="submit" value="send" onclick="register('{{ loginPage }}','{{ registerUrl }}')"/>
            </div>
            <div>
                <input class="login-register" type="submit" value="Back" onclick="redirectToUrl('{{ loginPage }}')"/>
            </div>
        </form>
    </div>
{% endblock %}